# macOS system files

.DS_Store
__MACOSX/

# Xcode user-specific data

xcuserdata/
*.xcuserstate

# Xcode build products

DerivedData/
build/

# Workspace user data

*.xcworkspace/xcuserdata/

# Xcode project user data

*.xcodeproj/xcuserdata/

# Swift Package Manager

.build/

# CocoaPods (if used)

Pods/

# Fastlane (if used)

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
